/*-- scss:defaults --*/

$presentation-font-size-root: 30px;

/*-- scss:rules --*/

.reveal .center-title {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}